.homesec1 {
  overflow-x: hidden;
  padding-bottom: 150px;

  .main {
    .inner {
      display: flex;
      // align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 0 0 20px;
      margin-top: 16%;

      // left
      .left {
        margin-top: 97px;
        width: 50%;

        span {
          font-size: 24px;
          background: -webkit-linear-gradient(#a855f7, #a855f7);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 700;
          font-family: "Poppins", sans-serif;
          text-transform: capitalize;
        }

        h1 {
          color: #2d3748;
          font-weight: 700;
          font-size: 48px;
          margin-top: 16px;
          font-family: "Poppins", sans-serif;
          line-height: 1.56;
        }
        p {
          margin-top: 31px;
          font-size: 20px;
          color: #718096;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
          line-height: 1.79;
        }
      }

      // .right
      .right {
        position: relative;
        margin-top: 1px;
        left: 24px;
        width: 50%;

        img {
          width: 100%;
        }

        .hero {
          max-width: 438px;
          width: 100%;
        }

        .herooverlayone {
          position: absolute;
          bottom: 110px;
          left: -40px;
        }
        .herooverlaytwo {
          position: absolute;
          top: 34px;
          right: 112px;
        }
      }
    }
  }
}

// HomeSec2
.HomeSec2 {
  background-color: #f6f8fd;
  border-radius: 30px;
  position: relative;
  padding: 0 13px 90px 13px;

  .counterUp {
    max-width: 1100px;
    margin: auto;
    width: 100%;
    padding: 0 13px;
    background-color: #fff;
    box-shadow: 0 0 20px #4e4e4e1c;
    top: -90px;
    position: relative;
    border-radius: 17px;

    .outer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 60px 10px;
      text-align: center;
      color: #fff;

      .inner {
        width: 25%;
        h1.numbers {
          font-size: 48px;
          font-weight: 700;
          color: #293748;
          font-family: "Poppins", sans-serif;
        }

        h3.title {
          font-size: 20px;
          font-weight: 400;
          color: #a855f7;
          font-family: "Poppins", sans-serif;
        }
      }
    }
  }

  .main {
    padding: 0;
    .content {
      h1 {
        font-size: 36px;
        color: #293748;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        text-align: center;

        span {
          color: #6366f1;
        }
      }
      p {
        text-align: center;
        margin-top: 30px;
        font-size: 23px;
        font-weight: 400;
        color: #2d3748;
        line-height: 1.7;
      }

      .inenerContent {
        .contentMain {
          margin-top: 60px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          :first-child .sec2Img {
            background-color: #276af02c;
          }
          :nth-child(2) .sec2Img {
            background-color: #ff9e0141;
          }
          :nth-child(3) .sec2Img {
            background-color: #f7491d2a;
          }
          :last-child .sec2Img {
            background-color: rgba(0, 128, 0, 0.137);
          }
          .cn_outer {
            width: 23%;
            border-radius: 15px;
            padding: 40px 20px 20px 20px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
            background-color: #fff;
            .sec2Img {
              padding: 20px;
              border-radius: 50px;
              display: inline-flex;
              justify-content: center;
              align-items: center;
            }

            .sz2 {
              margin-top: 25px;
              h1 {
                font-size: 22px;
                font-family: "Poppins", sans-serif;
                color: #000;
              }
              p {
                margin-top: 10px;
                line-height: 1.4;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

// section3
.section3 {
  padding: 90px 0;

  .main {
    .upperSec {
      text-align: center;
      h3 {
        font-size: 26px;
        color: #a855f7;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
      }
      h1 {
        font-family: "Poppins", sans-serif;
        color: #000;
        font-size: 42px;
        font-weight: 700;
        margin: 30px 0 0 0;
      }
      p {
        font-size: 24px;
        color: #293748;
        font-weight: 500;
        line-height: 1.7;
        margin: 25px 0 0 0;
        font-family: "Poppins", sans-serif;
      }
    }

    //
    .lowerSec {
      margin-top: 60px;
      display: flex;
      justify-content: center;
      gap: 30px;

      h1 {
        font-size: 17px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: #6366f1;
      }
      p {
        font-size: 17px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        color: #293748;
      }

      .left,
      .right {
        width: 32%;
        display: flex;
        flex-direction: column;
        gap: 70px;
        align-items: center;
      }
      .mdle {
        width: 30%;
        img {
          width: 100%;
        }
      }

      .left {
        h1,
        p {
          text-align: right;
        }
      }
      .right {
        h1,
        p {
          text-align: left;
        }
      }
    }
  }
}

// HomeSec4
.HomeSec4 {
  background-color: #f6f8fd;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  padding: 90px 0;

  .main {
    text-align: center;
    .upperDiv {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      .inner {
        box-shadow: 0 0 20px #00000031;
        border-radius: 50px;
        background-color: #fff;
        display: flex;
        :first-child {
          border-radius: 50px 0 0 50px;
        }
        :last-child {
          border-radius: 0 50px 50px 0;
        }

        :nth-child(2) {
          border-right: 1px solid #0000002f;
          border-left: 1px solid #0000002f;
          overflow: hidden;
        }
        button {
          border: none;
          padding: 25px 50px;
          background-color: transparent;
          transition: all 0.3s ease-in-out;
          text-transform: capitalize;
          font-family: "Poppins", sans-serif;
          font-weight: 500;

          &:hover {
            background-color: #2d3748;
            color: #fff;
          }
        }
      }
    }

    // lowerDiv
    .lowerDiv {
      margin-top: 70px;
      .firdislaying {
        display: flex;
        gap: 30px;
        .left,
        .right {
          width: 50%;
        }

        .right {
          margin-top: 50px;
          h2 {
            font-size: 23px;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            color: #2d3748b9;
          }
          h1 {
            font-size: 36px;
            color: #000;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            margin-top: 30px;
            line-height: 1.4;
            span {
              color: #6366f1;
            }
          }
          p {
            font-size: 21px;
            color: #000;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
            margin-top: 30px;
            line-height: 1.9;
          }
          .rightRating {
            display: flex;
            align-items: center;
            justify-content: space-between;

            :first-child h1 {
              color: #00cb90;
            }
            :nth-child(2) h1 {
              color: #5d66f0;
            }
            :last-child h1 {
              color: #b450f4;
            }

            p {
              font-size: 17px;
              color: #000;
              font-weight: 600;
              font-family: "Poppins", sans-serif;
              margin: 0;
              line-height: normal;
            }
          }
        }
      }
    }
  }

  // // // // // // //
}

// HomeSec5
.HomeSec5 {
  padding: 90px 0;

  .main {
    .inner {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      flex-direction: row;
      justify-content: space-between;

      .content {
        width: 46%;
        display: flex;
        align-items: flex-start;
        gap: 40px;

        .left {
          img {
            pointer-events: none;
            user-select: none;
          }
        }

        .right {
          h1 {
            font-size: 22px;
            color: #000;
            font-weight: 700;
            font-family: "Poppins", sans-serif;
          }
          p {
            font-size: 17px;
            color: #505050;
            font-weight: 500;
            font-family: "Poppins", sans-serif;
          }
        }
      }
    }
  }
}

// HomeSec6
.HomeSec6 {
  padding: 90px 0;
  background-color: #f6f8fd;
  border-radius: 50px;

  .main {
    .inner {
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      // justify-content: space-between;

      .hsec6Left {
        width: 45%;
        .leftInner {
          background-color: #fff;
          width: 100%;
          // height: 250px;
          box-shadow: 0 0 10px #00000038;
          border-radius: 15px;
          display: flex;
          overflow: hidden;

          .leftMain {
            padding: 40px 30px;
            flex: 0 0 100%;
            gap: 30px;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            display: none;
            // display: flex;
            // flex-direction: row;
            // flex: 0 0 100%;
            // height: 300px;
            // transition: transform 0.3s ease-in-out;

            .sldierImg {
              background-color: #29374834;
              border-radius: 15px;
              overflow: hidden;
              width: 30%;

              img {
                width: 100%;
                height: 180px;
                object-fit: cover;
              }
            }
            .sliderCont {
              width: 70%;

              h2 {
                font-size: 20px;
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                color: #2d3748;
                margin-bottom: 10px;
              }
              h1 {
                font-size: 20px;
                color: #293748b4;
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                margin-bottom: 10px;
              }
              p {
                font-size: 17px;
                line-height: 1.4;
                font-weight: 400;
                color: #293748;
                font-family: "Poppins", sans-serif;
              }
            }
          }
        }
      }

      .hsec6Right {
        width: 50%;
        h1 {
          font-size: 36px;
          color: #000;
          font-family: "poppins", sans-serif;
          font-weight: 700;
          line-height: 1.5;
          margin-bottom: 25px;

          span {
            color: #6366f1;
          }
        }
        p {
          font-size: 21px;
          color: #293748;
          font-weight: 400;
          line-height: 1.3s;
          font-family: "poppins", sans-serif;
        }
      }
    }
  }

  .dots {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .dot {
    cursor: pointer;
    width: 13px;
    height: 13px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc;

    &:hover {
      background-color: #2d3748;
    }
  }

  .dot.active {
    background-color: #5d66f0;
  }
  .leftMain.active {
    opacity: 1 !important;
    visibility: visible !important;
    display: flex !important;
    flex-wrap: nowrap !important;
  }
}

// sectio7
.sectio7 {
  padding: 90px 0;

  .section-title {
    h1 {
      font-size: 46px;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      text-align: center;
      color: #293748;
    }
    p {
      font-size: 23px;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      text-align: center;
      margin-top: 20px;
      color: #293748bd;
    }
  }

  .blogContnet {
    margin-top: 70px;

    .main {
      .inner {
        display: flex;
        flex-wrap: nowrap;
        gap: 40px;
        justify-content: space-between;
        padding: 0 20px;

        .cardInner {
          background-color: #fff;
          padding: 10px;
          border-radius: 10px;
          box-shadow: 0 0 10px #00000056;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            transform: translateY(-10px);
          }

          img {
            width: 100%;
            height: 270px;
            object-fit: cover;
            border-radius: 10px;
          }

          .lowerCon {
            margin-top: 10px;
            padding: 20px;

            h4 {
              display: inline;
              padding: 4px 10px;
              border-radius: 10px;
              font-size: 12px;
              font-family: "Poppins", sans-serif;
              font-weight: 500;
              text-align: left;
              background-color: #5d67f031;
              color: #5d66f0;
              text-transform: capitalize;
            }
            h1{
              font-size: 21px;
              font-family: "Poppins", sans-serif;
              font-weight: 700;
              color: #293748;
              margin-top: 20px;
            }
            p{
              font-size: 15px;
              line-height: 1.7;
              font-weight: 400;
              color: #293748;
              font-family: "Poppins", sans-serif;
            }

            .lowerInner{
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 20px;
              .left{
                width: 45px;
                height: 45px;
                object-fit: cover;
                border-radius: 60px;
                background-color: #505050;
                overflow: hidden;

                img{
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
              .right{
                h2{
                  font-size: 16px;
                  font-family: "Poppins", sans-serif;
                  font-weight: 600;
                  color: #505050;
                  margin: 0;
                }
                span{
                  font-size: 14px;
                  font-family: "Poppins", sans-serif;
                  font-weight: 400;
                  color: #35353583;
                }
              }
            }
          }
        }
      }
    }
  }
}

// media query at 991px

@media only screen and (max-width: 991px) {
  .homesec1 {
    .main {
      .inner {
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        .left {
          width: 100%;
          text-align: center;
          h1 {
            font-size: 36px;
            br {
              display: none;
            }
          }
          p {
            font-size: 19px;
            margin-top: 20px;
            br {
              display: none;
            }
          }
        }

        .right {
          text-align: center;
          width: 100%;

          .hero {
            margin: auto;
          }
          .herooverlayone {
            left: 200px;
          }
          .herooverlaytwo {
            right: 193px;
          }
        }
      }
    }
  }
  // // // // // // //
}

//media query at 767px

@media only screen and (max-width: 767px) {
  .homesec1 {
    .main {
      .inner {
        .left {
          margin-top: 45px;
          span {
            font-size: 20px;
          }
          h1 {
            font-size: 30px;
            margin: 10px 0 0 0;
          }
          p {
            margin-top: 10px;
            font-size: 17px;
          }
        }
        .right {
          .herooverlaytwo {
            right: 110px;
            width: 180px;
          }
          .herooverlayone {
            width: 180px;
            left: 120px;
          }
        }
      }
    }
  }

  .HomeSec2 {
    .counterUp {
      .outer {
        gap: 30px 0;
        .inner {
          width: 50%;
        }
      }
    }

    .main {
      .content {
        .inenerContent {
          .contentMain {
            justify-content: center;
            gap: 30px;
            .cn_outer {
              width: 45%;
            }
          }
        }
      }
    }
  }

  // .section3
  .section3 {
    padding: 45px 0;
    .main {
      .upperSec {
        h3 {
          font-size: 20px;
          margin: 0;
        }
        h1 {
          font-size: 36px;
          margin-top: 14px;
        }
        p {
          font-size: 20px;
          margin-top: 15px;
        }
      }

      .lowerSec {
        display: flex;
        flex-direction: column;
        text-align: center;

        .left,
        .right {
          width: 100%;
          gap: 20px;
          h1 {
            text-align: center;
          }
          p {
            text-align: center;
          }
        }
        .mdle {
          width: 50%;
          margin: auto;
        }
      }
    }
  }

  // .HomeSec4

  .HomeSec4 {
    .main {
      .upperDiv {
        .inner {
          button {
            padding: 20px 25px;
            font-size: 14px;
          }
        }
      }
      .lowerDiv {
        .firdislaying {
          display: flex;
          flex-direction: column;
          text-align: center;
          .left {
            width: 50%;
            margin: auto;
            img {
              width: 100%;
            }
          }
          .right {
            width: 100%;
            h1 {
              font-size: 36px;
            }
            p {
              font-size: 20px;
            }
            .rightRating {
              display: flex;
              justify-content: space-around;

              h1 {
                font-size: 36px;
              }
            }
          }
        }
      }
    }
  }

  // section 5
  .HomeSec5 {
    .main {
      .inner {
        text-align: center;
        gap: 40px;
        .content {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          text-align: center;

          .left {
            img {
              pointer-events: none;
              user-select: none;
            }
          }

          .right {
            h1 {
              font-size: 22px;
              color: #000;
              font-weight: 700;
              font-family: "Poppins", sans-serif;
              margin-bottom: 20px;
            }
            p {
              font-size: 17px;
              color: #505050;
              font-weight: 500;
              font-family: "Poppins", sans-serif;
            }
          }
        }
      }
    }
  }

  // HomeSec6
  .HomeSec6 {
    padding: 90px 0;
    background-color: #f6f8fd;
    border-radius: 50px;

    .main {
      .inner {
        display: flex;
        flex-wrap: wrap;

        .hsec6Left,
        .hsec6Right {
          width: 100%;
        }

        .hsec6Right {
          text-align: center;
          h1 {
            font-size: 30px;
            color: #000;
            font-family: "poppins", sans-serif;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: 15px;

            span {
              color: #6366f1;
            }
          }
          p {
            font-size: 16px;
            color: #293748;
            font-weight: 400;
            line-height: 1.3s;
            font-family: "poppins", sans-serif;
          }
        }
      }
    }
  }

  // sectio7
.sectio7 {
  padding: 60px 0;

  .section-title {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 17px;
    }
  }

  .blogContnet {
    margin-top: 40px;

    .main {
      .inner {
        flex-wrap: wrap;

        .cardInner {
          width: 80%;
          margin: auto;

          img {
            width: 100%;
            height: 270px;
            object-fit: cover;
            border-radius: 10px;
          }

          .lowerCon {
            margin-top: 10px;
            padding: 20px;

            h4 {
              display: inline;
              padding: 4px 10px;
              border-radius: 10px;
              font-size: 12px;
              font-family: "Poppins", sans-serif;
              font-weight: 500;
              text-align: left;
              background-color: #5d67f031;
              color: #5d66f0;
              text-transform: capitalize;
            }
            h1{
              font-size: 21px;
              font-family: "Poppins", sans-serif;
              font-weight: 700;
              color: #293748;
              margin-top: 20px;
            }
            p{
              font-size: 15px;
              line-height: 1.7;
              font-weight: 400;
              color: #293748;
              font-family: "Poppins", sans-serif;
            }

            .lowerInner{
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 20px;
              .left{
                width: 45px;
                height: 45px;
                object-fit: cover;
                border-radius: 60px;
                background-color: #505050;
                overflow: hidden;

                img{
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
              .right{
                h2{
                  font-size: 16px;
                  font-family: "Poppins", sans-serif;
                  font-weight: 600;
                  color: #505050;
                  margin: 0;
                }
                span{
                  font-size: 14px;
                  font-family: "Poppins", sans-serif;
                  font-weight: 400;
                  color: #35353583;
                }
              }
            }
          }
        }
      }
    }
  }
}

  //  // // // // // //
}

//media query at 575px

@media only screen and (max-width: 575px) {
  .homesec1 {
    .main {
      .inner {
        .left {
          margin-top: 45px;
          span {
            font-size: 17px;
          }
          h1 {
            font-size: 26px;
            margin: 10px 0 0 0;
          }
          p {
            margin-top: 10px;
            font-size: 15px;
          }
        }
        .right {
          left: 0;
          .hero {
            max-width: 360px;
            margin: auto;
          }
          .herooverlaytwo {
            width: 140px;
            right: 68px;
          }
          .herooverlayone {
            width: 140px;
            left: 60px;
          }
        }
      }
    }
  }

  // section 2

  .HomeSec2 {
    .main {
      .content {
        .inenerContent {
          .contentMain {
            justify-content: center;
            gap: 30px;
            flex-direction: column;
            .cn_outer {
              width: 100%;
            }
          }
        }

        h1 {
          font-size: 30px;
          br {
            display: none;
          }
        }
      }
    }
  }

  // .section3
  .section3 {
    .main {
      .upperSec {
        h3 {
          font-size: 17px;
          margin: 0;
        }
        h1 {
          font-size: 30px;
          margin-top: 14px;
        }
        p {
          font-size: 17px;
          margin-top: 15px;

          br {
            display: none;
          }
        }
      }
    }
  }

  // .HomeSec4
  .HomeSec4 {
    .main {
      .upperDiv {
        .inner {
          button {
            padding: 20px 25px;
          }
        }
      }
      .lowerDiv {
        .firdislaying {
          .right {
            h1 {
              font-size: 30px;
              margin-top: 15px;
            }
            p {
              font-size: 16px;
              line-height: normal;
              margin-top: 15px;
            }
            .rightRating {
              h1 {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }

  .HomeSec5 {
    padding: 45px 0;

    .main {
      .inner {
        text-align: center;
        gap: 15px;
        .content {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          text-align: center;

          .left {
            img {
              pointer-events: none;
              user-select: none;
            }
          }

          .right {
            h1 {
              font-size: 22px;
              color: #000;
              font-weight: 700;
              font-family: "Poppins", sans-serif;
              margin-bottom: 20px;
            }
            p {
              font-size: 17px;
              color: #505050;
              font-weight: 500;
              font-family: "Poppins", sans-serif;
            }
          }
        }
      }
    }
  }

    // sectio7
.sectio7 {
  padding: 60px 0;

  .blogContnet {
    margin-top: 40px;

    .main {
      .inner {
        padding: 0;
        flex-wrap: wrap;

        .cardInner {
          width: 100%;
          margin: auto;
        }
      }
    }
  }
}

  // // // // //
}

//media query at 428px

@media only screen and (max-width: 428px) {
  .homesec1 {
    .main {
      .inner {
        padding: 0;
        .left {
          margin-top: 45px;
          span {
            font-size: 15px;
          }
          h1 {
            font-size: 18px;
            margin: 10px 0 0 0;
          }
          p {
            font-size: 13px;
            margin-top: 10px;
          }
        }
        .right {
          .herooverlaytwo {
            display: none;
          }
          .herooverlayone {
            display: none;
          }
        }
      }
    }
  }

  // section2

  .HomeSec2 {
    .counterUp {
      .outer {
        .inner {
          width: 100%;
        }
      }
    }
  }
  .HomeSec2 {
    .main {
      .content {
        .inenerContent {
          .contentMain {
            justify-content: center;
            gap: 30px;
            flex-direction: column;
            .cn_outer {
              width: 100%;
            }
          }
        }

        h1 {
          font-size: 26px;
          br {
            display: none;
          }
        }
        p {
          font-size: 17px;
          br {
            display: none;
          }
        }
      }
    }
  }

  // .HomeSec4
  .HomeSec4 {
    .main {
      .upperDiv {
        .inner {
          button {
            padding: 10px 15px;
            font-size: 13px;
          }
        }
      }
      .lowerDiv {
        .firdislaying {
          gap: 0;
          .left {
            width: 60%;
          }
          .right {
            h2 {
              font-size: 18px;
            }
            h1 {
              font-size: 30px;
              margin-top: 15px;
            }
            p {
              font-size: 16px;
              line-height: normal;
              margin-top: 15px;
            }
            .rightRating {
              h1 {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }

  // section6
  .HomeSec6 {
    padding: 60px 0;
    .main {
      .inner {
        .hsec6Left {
          .leftInner {
            .leftMain {
              flex-direction: column;

              .sldierImg {
                width: 50%;

                img {
                  height: 230px;
                }
              }

              .sliderCont {
                width: 100%;
                text-align: center;

                p {
                  font-size: 14px;
                }
              }
            }
          }
        }
        .hsec6Right {
          h1 {
            font-size: 26px;

            br {
              display: none;
            }
          }
        }
      }
    }
  }

  // // // // // // // //
}

//media query at 360px

@media only screen and (max-width: 360px) {
  // .HomeSec4
  .HomeSec4 {
    padding: 60px 0;
    .main {
      .upperDiv {
        .inner {
          button {
            padding: 10px 3px;
            font-size: 12px;
          }
        }
      }
      .lowerDiv {
        margin-top: 45px;
        .firdislaying {
          gap: 0;
          .left {
            width: 80%;
          }
          .right {
            h1 {
              font-size: 20px;
              margin-top: 15px;
            }
            p {
              font-size: 14px;
              line-height: normal;
              margin-top: 15px;
            }
            .rightRating {
              display: flex;
              flex-wrap: wrap;
              h1 {
                font-size: 26px;
              }
            }
          }
        }
      }
    }
  }

  .HomeSec5 {
    .main {
      .inner {
        text-align: center;
        gap: 20px;
        .content {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          text-align: center;

          .left {
            img {
              pointer-events: none;
              user-select: none;
            }
          }

          .right {
            h1 {
              font-size: 17px;
              color: #000;
              font-weight: 700;
              font-family: "Poppins", sans-serif;
              margin-bottom: 10px;
            }
            p {
              font-size: 14px;
              color: #505050;
              font-weight: 500;
              font-family: "Poppins", sans-serif;
            }
          }
        }
      }
    }
  }

    // sectio7
.sectio7 {
  padding: 45px 0;

  .section-title {
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 14px;
    }
  }

  .blogContnet {
    margin-top: 20px;

    .main {
      .inner {
        gap: 20px;
        flex-wrap: wrap;

        .cardInner {

          img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-radius: 10px;
          }

          .lowerCon {
            margin-top: 0;
            padding: 10px ;
            h1{
              font-size: 16px;
              margin-top: 10px;
            }
            p{
              font-size: 13px;
              line-height: normal;
            }

            .lowerInner{
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 20px;
              .left{
                width: 45px;
                height: 45px;
                object-fit: cover;
                border-radius: 60px;
                background-color: #505050;
                overflow: hidden;

                img{
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
              .right{
                h2{
                  font-size: 13px;
                }
                span{
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}

  // // // // // // // //
}
